{% extends "base.html" %}
{% block head %}
   {{ super() }}
{% endblock %}

{% block content %}
   {% for item in searchResults %}
      {% if item['itemType'] == "notes" %}
         <div class="row">
            <div class="col-lg-12">
               <div class="like-pre">{{ item['obj']['note'] | trim | urlize }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="like-pre">ID: {{ item.obj.ID | trim |int }}</div>
            </div>
         </div>
      {% elif item.itemType == "places" %}
         <div class="row">
            <div class="col-lg-4">
               {{ item.obj.placeText }}
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               {{ item.obj.note }}
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               {{ item.obj.addressText }}
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="full">
                  <input type="hidden" class="form-control" id="{{ item.obj.addressText |replace('.', '') | replace(',', '') | replace(' ', '_')  | replace('#', '')}}" name="{{ item.obj.addressText |replace('.', '') | replace(',', '') | replace(' ', '_') | replace('#', '') }}" value="{{ item.obj.addressText }}" />
               </div>
            </div>
         </div>
         <script>
            $(function() {
               $("#{{ item.obj.addressText |replace('.', '') | replace(',', '') | replace(' ', '_')  | replace('#', '')}}").autoGeocoder();
            });
         </script>
      {% elif item.itemType == "contacts" %}
         <div class="row">
            <div class="col-md-4">
               <div class="like-pre">Name: {{ item.obj.NAME }}</div>
            </div>
            <div class="col-md-4">
               <div class="like-pre">EMail: {{ item.obj.EMAIL }}</div>
            </div>
            <div class="col-md-4">
               <div class="like-pre">Affiliation: {{ item.obj.AFFILIATION }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-4">
               <div class="like-pre">Work: {{ item['obj']['WORK PHONE'] }}</div>
            </div>
            <div class="col-md-4">
               <div class="like-pre">Mobile: {{ item['obj']['MOBILE PHONE'] }}</div>
            </div>
            <div class="col-md-4">
               <div class="like-pre">Home: {{ item['obj']['HOME PHONE'] }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="like-pre">Address: {{ item.obj.ADDRESS }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <div class="full">
                  <input type="hidden" class="form-control" id="{{ item.obj.ADDRESS |replace('.', '') | replace(',', '') | replace(' ', '_')  | replace('#', '')}}" name="{{ item.obj.ADDRESS |replace('.', '') | replace(',', '') | replace(' ', '_') | replace('#', '') }}" value="{{ item.obj.ADDRESS }}" />
               </div>
            </div>
         </div>
         <script>
            $(function() {
               $("#{{ item.obj.ADDRESS |replace('.', '') | replace(',', '') | replace(' ', '_')  | replace('#', '')}}").autoGeocoder();
            });
         </script>
      {% elif item['itemType'] == "todos" %}
         <div class="row">
            <div class="col-lg-12">
               <div class="like-pre">{{ item.obj.todoText }}</div>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               {% if item.obj.done %}
                  <div class="like-pre">Done</div>
               {% else %}
                  <div class="like-pre">Not Done</div>
               {% endif %}
            </div>
         </div>
      {% endif %}
      <hr>
   {% endfor %}
{% endblock %}
