<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>{{ p.title }}</title>
      <link href="{{ url_for('static', filename='css/screen.css') }}" media="screen" rel="stylesheet" type="text/css">
      <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/note.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='css/datepicker.css') }}" rel="stylesheet">

      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

      <script src="{{ url_for('static', filename='js/jquery-2.0.3.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap-datepicker.js') }}"></script>
      <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
      <script src="{{ url_for('static', filename='js/jquery.auto-geocoder.js') }}"></script>

    <script type="text/javascript">
    var collapseDivs, collapseLinks;

    function createDocumentStructure (tagName) {
      if (document.getElementsByTagName) {
        var elements = document.getElementsByTagName(tagName);
        collapseDivs = new Array(elements.length);
        collapseLinks = new Array(elements.length);
        for (var i = 0; i < elements.length; i++) {
          var element = elements[i];
          var siblingContainer;
          if (document.createElement && 
              (siblingContainer = document.createElement('div')) &&
              siblingContainer.style) 
          {
            var nextSibling = element.nextSibling;
            element.parentNode.insertBefore(siblingContainer, nextSibling);
            var nextElement = elements[i + 1];
            while (nextSibling != nextElement && nextSibling != null) {
              var toMove = nextSibling;
              nextSibling = nextSibling.nextSibling;
              siblingContainer.appendChild(toMove);
            }
            siblingContainer.style.display = 'none';
            
            collapseDivs[i] = siblingContainer;
            
            createCollapseLink(element, siblingContainer, i);
          }
          else {
            // no dynamic creation of elements possible
            return;
          }
        }
      }
    }

    function createCollapseLink (element, siblingContainer, index) {
      var span;
      if (document.createElement && (span = document.createElement('span'))) {
        span.appendChild(document.createTextNode(String.fromCharCode(160)));
        var link = document.createElement('a');
        link.collapseDiv = siblingContainer;
        link.href = '#';
        link.appendChild(document.createTextNode('expand'));
        link.onclick = collapseExpandLink;
        collapseLinks[index] = link;
        span.appendChild(link);
        element.appendChild(span);
      }
    }

    function collapseExpandLink (evt) {
      if (this.collapseDiv.style.display == '') {
        this.parentNode.parentNode.nextSibling.style.display = 'none';
        this.firstChild.nodeValue = 'expand';
      }
      else {
        this.parentNode.parentNode.nextSibling.style.display = '';
        this.firstChild.nodeValue = 'collapse';
      }

      if (evt && evt.preventDefault) {
        evt.preventDefault();
      }
      return false;
    }

    </script>

    <script type="text/javascript">
    window.onload = function (evt) {
      createDocumentStructure('h1');
    }
    </script>


   </head>

   <body>

      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="note">Note</a>
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="{{ p.cmd.link }}">{{ p.cmd.name }}</a></li>
                  <li class="dropdown">
                  <a href="newNote" class="dropdown-toggle" data-toggle="dropdown">New<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><a href="newNote">Note</a></li>
                     <li><a href="newTodo">Todo</a></li>
                     <li><a href="newContact">Contact</a></li>
                     <li><a href="newPlace">Place</a></li>
                  </ul>
                  </li>
                  <li><a href="search">Search</a></li>
                  <li><a href="delete">Delete</a></li>
               </ul>
            </div>
         </div>
      </div>


      <div id="content">
         <div class="container">
               {% block content %}
               {% endblock %}
         </div>
      </div> <!-- /.content -->

</body>
</html>
