{% extends "base.html" %}
{% block head %}
   {{ super() }}
{% endblock %}

{% block content %}
<form action="search" method="POST" enctype="multipart/form-data"  role="form">



   <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
         <label for="search" class="col-sm-2 control-label"></label>
         <input type="text" class="form-control" name="term" id="search"></input>
         <input type="hidden" class="form-control" name="api" value="false"></input>
      </div>
   </div>

   <div class="row">

      <div class="col-sm-offset-3 col-sm-3">
         Sort By:
         <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
               <input type="radio" name="options" value="relevance">Relevance
            </label>
            <label class="btn btn-primary active">
               <input type="radio" name="options" value="date" checked="">Date
            </label>
         </div>
      </div>

      <div class="col-sm-3">
         <button type="search" class="btn btn-primary">Search</button>
      </div>
   </div>

</form>
{% endblock %}
